.bg-main {
    background: #fff;
    box-shadow: 1px 1px 3px #ddd;
}

.elevation1 .v-data-table-header th {
    text-align: center !important;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}